*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cadetblue;
    /* background-color:url;
    background-size: cover;
    background-position: center; */

}
.container{
    position: relative;
    width:400px;
    height:100px;
    background-color: purple;
    border-radius: 16px;
    padding:20px;
    color:#ffff;
    transition:height .6s ease;
}
.search-box{
    position: relative;
    width: 100%;
    height: 55px;
    background: slateblue;
    display: flex;
    align-items: center;
}
.search-box i{
position: absolute;
left:10px;
font-size: 28px;
}
.search-box input{
    position:absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border:2px solid rgba(255, 255, 255, .2);
    outline:none;
    border-radius: 10px;
    font-size: 22px;
    color:white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}

.search-box input::placeholder{
    color:#ffff;
    text-transform:capitalize;
}
.search-box button{
    position: absolute;
    right:0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color:white;
    padding:0 40px 0 5px;
    cursor:pointer;
}
.main-weather{
 text-align: center;
 margin:40px 0;
}
.main-weather, .weather-details, .not-found{
    visibility: hidden;
    overflow:hidden;
}
.main-weather.active, .weather-details.active, .not-found.active{
    visibility: visible;

}

.main-weather.box, .not-found.box{
    transform: translateY(-100%);

}

.main-weather.qctive.box, .not-found.active.box{
    transform: translateY(0%);
    transition:transform 1s ease;
    transition-delay: .6s;

}

.main-weather img{
    width:60%;
}
.main-weather .temperature{
    position: relative;
    font-size: 64px;
    line-height:1;
    font-weight: 700;
    margin:20px 0 6px -30px;
}

.main-weather .temperature span{
    position:absolute;
    font-size:24px;
    margin-left:4px;
}

.main-weather .description{
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
.weather-details{
    position: absolute;
    bottom:40px;
    left: 0;
    width: 100%;
    padding:0 20px;
    display: flex;
}
.weather-details .humidity,.weather-details .wind{
 display: flex;
 align-items: center;
 width: 50%;
 transform: translateY(-100%);
}
.weather-details.active .humidity,.weather-details.active .wind{
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: 1.2s;
   }

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}
.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}
.weather-details i{
    font-size: 56px;
    margin-right: 10px;
}

.weather-details span{
    display:inline-block;
    font-size:22px;
    font-weight: 500;
}
.weather-details p{
    font-size: 14px;
    font-weight: 500;
}
.not-found{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    text-align: center;
    margin-top:110px;
}

.not-found img{
  width:65%;
}
.not-found p{
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}